[submodule "externals/ResolutionBuddy"]
	path = externals/ResolutionBuddy
	url = git@github.com:dmanning23/ResolutionBuddy.git
[submodule "externals/ToastBuddyLib"]
	path = externals/ToastBuddyLib
	url = git@github.com:dmanning23/ToastBuddyLib.git
[submodule "externals/FontBuddy"]
	path = externals/FontBuddy
	url = git@github.com:dmanning23/FontBuddy.git
[submodule "externals/XNA"]
	path = externals/XNA
	url = git@github.com:dmanning23/XnaCompiledResources.git
